$breakpoints: (
    "xsmall":515px,
    "small": 767px,
    "medium": 992px,
    "large": 1200px,
);

$colors: (
    primary: #FF6060,
    grey:#F6F6F6,    
    white: #FFFFFF,
    black: #000000,
);

$font: ("Montserrat", sans-serif);
