@use "../../style/function" as function;

.header{
    display: flex;
    justify-content: center;
    position: relative;    
    height: 223px;
    border-radius: 25px;
    margin: 25px 0;
    background-color: function.color(black);
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: function.color(white); 
        font-weight: 500;       
    }
    &__background{
        border-radius: 25px;
        opacity: 0.7;
        width: 100%;
    }
}