@use '@/assets/style/function' as function;
@use '@/assets/style/mixin' as mixin;

.starRating {
  .star {
    font-size: 36px;
  }

  .on {
    color: function.color(primary);
  }
  .off {
    color: function.color(starGrey);
  }
  @include mixin.break-to(small) {
    .star {
      font-size: 22px;
    }
  }
}
