@use "../../style/function" as function;

.collapse{
    border: none;
    &__content {        
        height: 100%;
        background-color: function.color(grey);
        border-radius: 0 0 10px 10px;
        padding: 10px 20px;
        & ul{
            list-style: none;
            margin: 0;
        }
    }
        
    &__contentParent {
        overflow: hidden;
        transition: height ease 0.9s;
        
    }        
    
    &__button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: function.color(primary);
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: function.color(white);
        transition: border-radius 1s;
        &__open{
            border-radius: 10px 10px 0 0;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__arrow{
        transform: rotate(0);
        &__open{
            transform: rotate(180deg);
        }
    }
}