@use "../../style/function" as function;

.collapse{
    &__content {
        background-color: function.color(grey);
        border-radius: 10px;
        padding: 10px 20px;
        & ul{
            list-style: none;
        }
    }
        
    &__contentParent {
        height: 0px;
        overflow: hidden;
        transition: height ease 0.9s;
        
    }        
    
    &__button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: function.color(primary);
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: function.color(white)
    }
}